.signin {
  margin: 10px auto;
  display: table;
  line-height: 25px;
}

.signin h4 {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

.form-group {
  margin: 20px;
  position: relative;
}

.icon-signin {
  position: absolute;
  font-size: 27px;
  top: 9px;
  left: 8px;
  color: gray;
  z-index: 2;
  display: block;
}

.form-group input {
  height: 30px;
  width: 15rem;
  padding-left: 37px;
}

.register {
  background: black;
  color: white;
  text-align: center;
  display: block;
  text-transform: capitalize;
  padding: 12px;
  width: 16rem;
  margin: 10px auto;
  cursor: pointer;
}

.forgot-register {
  text-align: center;
}
.forgot-register a {
  text-decoration: none;
  color: black;
  position: relative;
}

.login-google-and-facebook {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-google,
.login-facebook {
  cursor: pointer;
}
.icon-online {
  font-size: 56px;
  cursor: pointer;
}
.login-google {
  outline: none;
  color: black !important;
  font-size: 23px !important;
  text-transform: capitalize;
  width: 18rem;
  padding: 9px 11px !important;
  box-shadow: 3px 1px 5px 3px green !important;
  border-radius: 0px 20px 0px 20px !important;
  background: transparent;
}
.login-facebook {
  cursor: pointer;
}
.kep-login-facebook {
  outline: none;
  margin-top: 10px;
  font-size: 22px !important;
  text-transform: capitalize !important;
  width: 18rem;
  padding: 15px 19px !important;
  box-shadow: 3px 1px 5px 3px green !important;
  border-radius: 20px 0px 20px 0px !important;
} 

.icon-arrow-left {
  position: absolute;
  left: -26px;
  font-size: 23px;
  top: -2px;
}
#error_name,
#error_email,
#error_password{
  color: red;
  display: none;
}

.form-group input{
  width: 24rem!important;
}