
.css_facebook{
  margin: 0 auto;
  height: 40px;
  margin-top: 5px;
  display: block;
  outline: none;
  box-shadow: none!important;
  border: none;
  width: 100%;
  background-color: #1877f2 !important;
  font-size: 20px;
  text-transform: capitalize;
}
.userInfo,
._loginRegister{
  background-color: #ffffff;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0 1px rgba(255, 255, 255, .2) inset, 0 2px 2px -1px rgba(0, 0, 0, .3);
}

._loginRegister h1{
  text-align: center;
  margin: 0 0 20px 0;
}

._loginRegister .form-control{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: unset;
}

._loginRegister .form-control label{
  font-weight: bold;
  margin-bottom: 3px;
}

[type="text"],
[type="email"],
[type="password"]{
  padding:7px 10px;
  outline: none;
  margin-bottom: 5px;
  font-size: 16px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, .3);
}

[type="text"]:hover,
[type="text"]:focus,
[type="email"]:hover,
[type="email"]:focus,
[type="password"]:hover,
[type="password"]:focus
{
  border-color: #107a8b;
}

._navBtn button,
[type="submit"]{
  background: #008B8B;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 2px;
  margin-top: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  outline: none;
}
._navBtn button:hover,
[type="submit"]:hover{
  opacity: .9;
}

._navBtn{
  border-top: 1px solid #dedede;
  margin-top: 5px;
}
._navBtn button{
  background: #555555;
  color: #ffffff;
  width: 100%;

}

.success-msg,
.error-msg{
  border: 1px solid #ff304f;
  padding: 10px;
  color: #ff304f;
  font-weight: bold;
  border-radius: 2px;
}

.success-msg{
  color: #24b273;
  border-color: #24b273;
}

.userInfo{
  text-align: center;
}

.userInfo ._img{
  font-size: 50px;
}
.userInfo h1{
  text-transform: capitalize;
  margin: 10px 0;
}
.userInfo ._email{
  margin: 10px 0;
  color: #555555;
}
.userInfo button{
  margin-top: 5px;
  background: #ff304f;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border: 5px solid rgba(0, 0, 0, .1);
  outline: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: background .3s;
}
.userInfo button:hover{
  border-color: #ff304f;
  color: #ff304f;
  background: #ffffff;
}
/* .signin {
  margin: 10px auto;
  display: table;
  line-height: 25px;
}

.signin h4 {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

.form-group {
  margin: 20px;
  position: relative;
}

.icon-signin {
  position: absolute;
  font-size: 22px;
  top: 6px;
  left: 8px;
  color: gray;
  z-index: 2;
}

.form-group input {
  height: 30px;
  width: 15rem;
  padding-left: 37px;
}

.register {
  background: black;
  color: white;
  text-align: center;
  display: block;
  text-transform: capitalize;
  padding: 12px;
  width: 16rem;
  margin: 10px auto;
  cursor: pointer;
}

.forgot-register {
  text-align: center;
}
.forgot-register a {
  text-decoration: none;
  color: black;
  position: relative;
}

.login-google-and-facebook {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-google,
.login-facebook {
  cursor: pointer;
}
.icon-online {
  font-size: 56px;
  cursor: pointer;
}
.login-google {
  outline: none;
  color: black !important;
  font-size: 23px !important;
  text-transform: capitalize;
  width: 18rem;
  padding: 9px 11px !important;
  box-shadow: 3px 1px 5px 3px green !important;
  border-radius: 0px 20px 0px 20px !important;
  background: transparent;
}
.login-facebook {
  cursor: pointer;
}
.kep-login-facebook {
  outline: none;
  margin-top: 10px;
  font-size: 22px !important;
  text-transform: capitalize !important;
  width: 18rem;
  padding: 15px 19px !important;
  box-shadow: 3px 1px 5px 3px green !important;
  border-radius: 20px 0px 20px 0px !important;
} */

/* .signin {
  margin: 10px auto;
  display: table;
  line-height: 25px;
}

.signin h4 {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

.form-group {
  margin: 20px;
  position: relative;
}

.icon-signin {
  position: absolute;
  font-size: 22px;
  top: 6px;
  left: 8px;
  color: gray;
  z-index: 2;
}

.form-group input {
  height: 30px;
  width: 15rem;
  padding-left: 37px;
}

.register {
  background: black;
  color: white;
  text-align: center;
  display: block;
  text-transform: capitalize;
  padding: 12px;
  width: 16rem;
  margin: 10px auto;
  cursor: pointer;
}

.forgot-register {
  text-align: center;
}
.forgot-register a {
  text-decoration: none;
  color: black;
  position: relative;
}

.login-google-and-facebook {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-google,
.login-facebook {
  cursor: pointer;
}
.icon-online {
  font-size: 56px;
  cursor: pointer;
}
.login-google {
  outline: none;
  color: black !important;
  font-size: 23px !important;
  text-transform: capitalize;
  width: 18rem;
  padding: 9px 11px !important;
  box-shadow: 3px 1px 5px 3px green !important;
  border-radius: 0px 20px 0px 20px !important;
  background: transparent;
}
.login-facebook {
  cursor: pointer;
}
.kep-login-facebook {
  outline: none;
  margin-top: 10px;
  font-size: 22px !important;
  text-transform: capitalize !important;
  width: 18rem;
  padding: 15px 19px !important;
  box-shadow: 3px 1px 5px 3px green !important;
  border-radius: 20px 0px 20px 0px !important;
} */
